<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
        <mat-form-field>
            <input type='text' matInput formControlName="name" placeholder="Name">
            <mat-error *ngIf="name.invalid">Please enter a name</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type='email' matInput formControlName="email" placeholder="E-Mail">
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                <mat-error *ngIf="email.errors.required">E-Mail is required</mat-error>
                <mat-error *ngIf="email.errors.email">Please enter a valid E-Mail</mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="Date of Birth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="dob.invalid">D.O.B is Required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type='text' matInput formControlName="avatar" placeholder="Avatar URL">
            <mat-error *ngIf="avatar.invalid">Avatar URL is Required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type='text' matInput formControlName="country" placeholder="Country">
            <mat-error *ngIf="country.invalid">Country code is required</mat-error>
        </mat-form-field>

        <div class="alignRight">
            <button type='submit' mat-raised-button color="accent" class="btnAlignRight" [disabled]='form.invalid'>{{btnText}}</button>
        </div>
    </form>
</mat-card>